
<mat-toolbar class="mat-elevation-z8"  color="primary"><span class="flexExpand"></span><span>Atess Todo App</span>
  <span class="flexExpand"></span>
</mat-toolbar>
<mat-toolbar class="mat-elevation-z8"  color="disabled"> <span class="flexExpand"></span> <mat-form-field>
  <input type="text" matInput  id="newtodo" value="" />
</mat-form-field>
<button  mat-raised-button color="primary" (click)="add()">Add</button>
  <span class="flexExpand"></span>
</mat-toolbar>


  

  
  <div *ngFor="let d of todoItems, let i=index;" style="text-align: center;">
    <mat-card>
      <mat-card-content>
        
         <mat-icon class="completedItem"  *ngIf="d.itemCompleted==false" (click)="complete(i)">radio_button_unchecked</mat-icon>
         

    <mat-icon class="completedItem"  *ngIf="d.itemCompleted==true" (click)="complete(i)">check_circle</mat-icon>
    <!--<input type="checkbox" value="d.itemCompleted" (click)="complete(i)" />-->
  
  <label class="itemDescription">{{d.itemDescription}}</label>
  <mat-icon class="delete" (click)="delete(i)">cancel</mat-icon>
   </mat-card-content>
</mat-card>
   
