
.itemDescription{
  
    font-size: 24px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right:50px;
}
.delete{
    color:darkred;
    vertical-align: middle;
    
    //color:red;
    //height:10px;
}

.delete:hover {
    cursor:pointer;
    }

.completedItem:hover {
    cursor:pointer;
}

.flexExpand {
    flex: 1 1 auto;
}


.center {
        display: flex;
        justify-content: center;
}

.card {
        background-color:antiquewhite;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }  
      

 
  .parent {
    padding-top:20px;
    display: flex;
    flex-direction:row;
  }

  .child {
    flex-grow: 1;
  }
    
  .child2 {
    width:600px;
    
    display: flex;
    flex-direction:row;
  }
  .child3 {
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    width:30px;
    
  }
  .child4 {
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    flex-grow: 1;
    padding-left: 20px;
    
  }

