
<mat-toolbar class="mat-elevation-z8"  color="primary"><span>Atess Todo App</span>
  <span class="flexExpand"></span><span><button mat-mini-fab><mat-icon>add</mat-icon></button></span>
</mat-toolbar>

<mat-card>
  <mat-form-field>
      <input type="text" matInput  id="newtodo" value="" />
  </mat-form-field>
  <button  mat-raised-button (click)="add()">Add</button>
  </mat-card>
<div>
  </div>
  <div *ngFor="let d of todoItems, let i=index;">
  <div><input type="checkbox" value="d.itemCompleted" (click)="complete(i)" />&nbsp;<label>{{d.itemDescription}}</label>&nbsp; &nbsp;<button class="delete" (click)="delete(i)">x</button>
</div>